@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

.fi-simple-layout {
    position: relative !important;
    @apply grid grid-cols-1 lg:grid-cols-2 bg-cover !important;
    background-image: url('/public/kencleng-img-cmp.webp') !important;
}

.fi-simple-layout::before {
    content: '' !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: rgba(255, 255, 255, 0.05) !important;
    backdrop-filter: blur(0px) !important;
    z-index: 1 !important;
}

.fi-simple-layout > * {
    position: relative !important;
    z-index: 2 !important;
}

.fi-simple-main-ctn {
    @apply col-start-2 !important;
}

.fi-simple-main {
    @apply border-white/50 border-2 bg-white backdrop-blur-md !important;
    @apply !rounded-lg bg-opacity-50 !important;
}
